<li>
    <section class="column">
      <h1><%= name %></h1>
      <ol class="tasks">
        <% tasks.forEach(task => {%>
          <%- include('./task', task) %>
        <% }) %>
      </ol>
    </section>
</li>