<%- include('../../partials/header'); %>

<main class="board">
  <h1>Task Board</h1>
  
  <div>
    <a href="/tasks/new">Add New Task</a>
  </div>
  
  <ol class="columns">
    <% columns.forEach(column => {%>
      <li>
        <%- include('./partials/column', column) %>
      </li>
    <% }) %>
  </ol>
</main>

<%- include('../../partials/footer'); %>