<%- include('../../partials/header'); %>

<main class="board">
  <ol class="columns">
    <% columns.forEach(column => {%>
      <%- include('./partials/column', column) %>
    <% }) %>
  </ol>
</main>

<%- include('../../partials/footer'); %>
