<%- include('../../partials/header'); %>

<a href="/tasks/new" class="create-task-btn">Create New Task</a>

<main class="board">
  <ol class="columns">
    <% columns.forEach(column => {%>
      <li>
        <%- include('./partials/column', column) %>
      </li>
    <% }) %>
  </ol>
</main>

<%- include('../../partials/footer'); %>
