
<%- include('../../../partials/header'); %>

<main>
  <div>
    <h1>Edit Task</h1>
    <form action="/task" method="put">
      <input type="input" name="taskName"/>
      <input type="input" name="column"/>
      <input type="submit" />
    </form>
  </div>
</main>

<%- include('../../../partials/footer'); %>
