
<%- include('../../../partials/header'); %>

<main>
  <div>
    <h1>Edit Task</h1>
      <%- task.name %>
      <select name="column">
        <option value="todo" selected>To Do</option>
        <option value="doing" >Doing</option>
        <option value="done" >Done</option>
      </select>
      <input type="submit" onclick="updateTask()"/>
  </div>
</main>

<%- include('../../../partials/footer'); %>
