<%- include('../../partials/header'); %>

    <main>
        <form method="POST" action="/create">
            <input class="input" type="text" id="task" name="task" placeholder="Enter task here"/>
            <button class="button" action="submit">Submit</button>
        </form>
    </main>
    

<%- include('../../partials/footer'); %>