<%- include('../partials/header'); %>

<main class="board">
  <ol class="columns">
    <li>
      <section class="column">
        <h1>To Do</h1>
        <ol class="tasks">
          <li><article class="task"><h1>Task 1</h1></article></li>
          <li><article class="task"><h1>Task 2</h1></article></li>
          <li><article class="task"><h1>Task 3</h1></article></li>
        </ol>
      </section>
    </li>
    <li>
      <section class="column">
        <h1>Doing</h1>
        <ol class="tasks">
          <li><article class="task"><h1>In progress...</h1></article></li>
        </ol>
      </section>
    </li>
    <li>
      <section class="column">
        <h1>Done</h1>
        <ol class="tasks">
          <li><article class="task"><h1>Finished this one</h1></article></li>
          <li><article class="task"><h1>And this one</h1></article></li>
          <li><article class="task"><h1>Crikey,</h1></article></li>
          <li><article class="task"><h1>Wasn't I...</h1></article></li>
          <li><article class="task"><h1>Productive!</h1></article></li>
        </ol>
      </section>
    </li>
  </ol>
</main>

<%- include('../partials/footer'); %>
