<%- include('../partials/header'); %>

<main class="board">
  <ol class="columns">
    <li>
      <section class="column">
        <h1>To Do</h1>
      </section>
    </li>
    <li>
      <section class="column">
        <h1>Doing</h1>
      </section>
    </li>
    <li>
      <section class="column">
        <h1>Done</h1>
      </section>
    </li>
  </ol>
</main>

<%- include('../partials/footer'); %>
