<%- include('../../partials/header'); %>

<main>
  <div>
    <h1>Edit Task</h1>
    <form action="/tasks/edit/<%= task.id %>" method="post">
      <input type="input" name="name" value="<%= task.name %>" />
      <input type="submit" />
    </form>
  </div>
</main>

<%- include('../../partials/footer'); %>
